    <div class="frame">
        <div class="left">
            <div class="r">
                <div class="person"></div>
            </div>
            <h2>基本資料</h2>
            <div class="item">
                <div class="preic"></div>
                <div>
                    <div class="context">電話:</div>
                    <div class="context">09xx-xxx-xxx</div>
                    <hr/>
                </div>
            </div>
            <div class="item">
                <div class="preic2"></div>
                <div>
                    <div class="context">電子信箱:</div>
                    <div class="context">信箱 at gmail.com</div>
                    <hr/>
                </div>
            </div>

            <h2>個人簡介</h2>
                <div class="info">在經歷過半夜被警察敲門後很就順利畢業失業了YA
                  <br>
                </div>
            <a href="https://www.plurk.com/ks8930818/">
            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQcC--tBsrbWXRt-1EnAyewRB2ERpDWxp703A&s" alt="與專業不相關的興趣作品集" class="pic"></a>

        </div>
        <div class="right">
             <div class="r prview">
                <p class="stitle context">譚思筠<small><small><small><small>(2x)</small></small></small></small><p>
                <div class="sex"></div>
            </div>
            <div>
                <h2>學歷</h2>
                <div class="item">
                    <h2>南台科技大學-資訊工程系</h2>
                    <div class="preic3"></div>
                    <p class="context">2016/09-2020/07<p>
                    <br>
                </div>
                <div class="disflex">
                      <div class="pictur2"></div>
                    <div class="mr">
                        <h2>專業技能</h2>
                        <ul class="list">
                            <li>如果我有</li>
                            <li>好好學習</li>
                            <li>早就不愁吃穿(?)了</li>
                            <li>充數項目</li>
                        </ul>
                    </div>
                </div>
                <div class="disflex">
                      <div class="pictur3"></div>
                    <div class="mr">
                        <h2>語言能力</h2>
                        <ul>
                            <li>英文不行</li>
                            <li>台語聽不懂</li>
                            <li>客語只懂一點</li>
                            <li>日語會胡說八道</li>
                        </ul>
                    </div>
                </div>
                <div class="disflex">
                      <div class="pictur4"></div>
                    <div class="mr">
                        <h3>工作經歷</h3>
                        <ul>
                            <li>猜猜看</li>
                            <li>如果我有</li>
                            <li>好的工作經歷</li>
                            <li>那我現在會在哪</li>
                            <li>所以</li>
                            <li>它是介於有跟無之間的極限灰塵</li>
                        </ul>
                    </div>
                </div>
                <div class="disflex">
                      <div class="pictur5"></div>
                    <div class="mr">
                        <h3>興趣</h3>
                        <ul>
                            <li>吃飯</li>
                            <li>睡覺</li>
                            <li>打東東</li>
                            <li class="stext">學長也算是東西對吧</li>
                        </ul>
                    </div>
                </div>
                <div class="disflex">
                      <div class="pictur"></div>
                    <div class="mr">
                        <h3>社團經歷</h3>
                        <ul>
                            <li>真的好希望</li>
                            <li>我能有個</li>
                            <li>拿的出手的</li>
                            <li>社團經歷</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
<router-outlet />
